@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
.theme-gradient {
	@apply bg-gradient-to-r from-white to-slate-100 dark:bg-gradient-to-r dark:from-neutral-900 dark:to-zinc-800;
}
.animated-hover-y1 {
	@apply transition ease-in-out delay-150 hover:-translate-y-1 duration-300;
}
.widget {
	@apply h-full w-full rounded-lg p-4 drop-shadow-md;
}
.responsive-grid-container {
	@apply grid grid-cols-1 grid-rows-1 sm:grid-cols-autofit w-full grid-flow-dense gap-4;
}
.bg-image-contain {
	@apply object-cover bg-no-repeat bg-contain bg-center w-full h-full;
}
